@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Secret After Party</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body style="margin:0;background-color:#05060b;">
    <img src="/Static/image/concept.jpg" style="width:100%;" />
</body>
</html>