@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Secret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/validator.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="app/main.js"></script>
    <script src="app/controllers/mainCtrls.js"></script>
    <script src="app/services/mainServices.js"></script>
</head>
<body ng-app="WeChat" ng-controller="MainCtrl" ui-prevent-touchmove-defaults="">
    <div>
        <!-- App Body -->
        <div class="loading" ng-show="hasPendingRequests()">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div>
            <ng-view>

            </ng-view>
        </div>
    </div><!-- ~ .app -->
</body>
</html>
<script>
    window.localStorage["openId"] = @ViewBag.openId;
    window.sessionStorage["state"] = @ViewBag.state;
</script>