@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Secret After Dinner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Static/css/main.css" rel="stylesheet" />
</head>
<body style="margin:0;overflow:hidden;">
    <div class="cover-msg">
        <img src="../static/image/expired-page.png" />
    </div>
</body>
</html>