<div class="logo-panel">
    <img class="logo-lg" src="../static/image/logo-lg.png" />
</div>

<div class="col-xs-6">
    <div class="no-ticket" ng-show="!model.hasTicket">

    </div>
    <div class="remain-ticket" ng-show="model.hasTicket && !model.fullTicket">

    </div>
    <div class="full-ticket" ng-show="model.hasTicket && model.fullTicket">

    </div>
</div>
<div class="col-xs-6">
    <div class="no-table" ng-show="!model.hasTable">

    </div>
    <div class="remain-table" ng-show="model.hasTable && !model.fullTable">

    </div>
    <div class="full-table" ng-show="model.hasTable && model.fullTable">

    </div>
</div>