<div class="invitation">
    <div class="logo-panel-center">
        <div>
            <img class="logo-lg" src="../static/image/logo-lg.png" />
        </div>
        <div class="invitation-title">
            <span>SHARE THE SECRET</span>
        </div>
    </div>
    <div class="div-group">
        <div class="col-xs-6">
            Agent Code
        </div>
        <div class="col-xs-6">
            <span class="font-helvetica" ng-bind="ticketCode"></span>
        </div>
    </div>
    <div class="div-group">
        <div class="col-xs-6">
            Special Agent
        </div>
        <div class="col-xs-6">
            <span class="font-helvetica" ng-bind="inviter"></span>
        </div>
    </div>

    <div class="div-group">
        <div class="col-xs-12">
            <span class="price">Notice:</span> Share this screen with agent code to your friend, he/she will be able to register the event by following the WeChat "My<span class="font-helvetica">531704</span>" and fill in the agent code.
        </div>
    </div>
    <div class="div-group">
        <div class="col-xs-6" style="padding-right:5px;">
            <input type="submit" ng-click="invite()" style="font-size:14px;width:100%;padding: 5px 5px 0 5px;"
                   value="Invite My Guest" />
        </div>
        <div class="col-xs-6">
            <input type="submit" ng-click="back()" style="font-size:14px;width:100%;padding: 5px 5px 0 5px;"
                   value="Back To My Invites" />
        </div>
    </div>
</div>

<div ng-show="isShare" class="cover-msg" ng-click="isShare=false;">
    <img src="../static/image/share.png" />
</div>