<div>
    <div class="logo-panel">
        <img class="logo-lg" src="../static/image/logo-lg.png" />
    </div>
    <div class="title title-lg form-group">My Invites</div>
</div>

<div class="col-xs-12 invite">
    <img src="../static/image/ticket-grey.png" ng-show="!model.hasTicket" />
    <img src="../static/image/ticket-white.png" ng-show="model.hasTicket && !model.fullTicket" ng-click="invite(10)" />
    <img src="../static/image/ticket-golden.png" ng-show="model.hasTicket && model.fullTicket" ng-click="invite(10)" />
    <img src="../static/image/table-grey.png" ng-show="!model.hasTable" />
    <img src="../static/image/table-white.png" ng-show="model.hasTable && !model.fullTable" ng-click="invite(20)" />
    <img src="../static/image/table-golden.png" ng-show="model.hasTable && model.fullTable" ng-click="invite(20)" />
</div>