<div>
    <div class="logo-panel">
        <img class="logo-lg" src="../static/image/logo-lg.png" />
    </div>
    <div class="title title-lg form-group" ng-class="{true: 'ticket-title', false: 'table-title'}[invitationType==10]" ng-bind="title"></div>
</div>
<div ng-repeat="m in model.invitees track by $index" style="max-width:100px;text-align:center;float:left;margin:0 15px;position:relative;">
    <div>
        <div class="delete-btn" ng-click="deleteConfirm(m.inviteeId,m.name)">

        </div>
        <img class="seat" ng-src="{{m.src}}" />
    </div>
    <div>
        <p ng-bind="m.name" class="font-color-white overflow"></p>
    </div>
</div>
<div ng-show="model.left>0" style="max-width:100px;text-align:center;float:left;margin:0 15px;position:relative;">
    <img class="add" src="../static/image/add.png" ng-click="arrange()" />
</div>

<div class="col-xs-12" style="margin-top:30px;">
    <span class="font-color-white font-helvetica" style="border-top:solid 1px #f4f4f4;padding:10px 20px 0 0;" ng-bind="invitationtype==10?'Tickets left:':'Seats left:'+model.left"></span>
</div>


<div ng-show="takeMySeat" class="confirm">
    <div class="confirm-msg font-color-white">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" ng-bind="confirmMsg">

        </div>
    </div>
    <div class="confirm-btn">
        <div class="col-xs-6">
            <input type="submit" ng-click="no()"
                   value="No" />
        </div>
        <div class="col-xs-6">
            <input type="submit" ng-click="myseat()"
                   value="Yes" />
        </div>
    </div>
</div>

<div ng-show="delete" class="confirm">
    <div class="confirm-msg font-color-white">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" ng-bind="deleteConfirmation">

        </div>
    </div>
    <div class="confirm-btn">
        <div class="col-xs-6">
            <input type="submit" ng-click="delete=false"
                   value="No" />
        </div>
        <div class="col-xs-6">
            <input type="submit" ng-click="cancel()"
                   value="Yes" />
        </div>
    </div>
</div>
