<div ng-repeat="m in model track by $index">
    <div>
        <div>
            <span>Table for </span>
            <span ng-bind="m.seats"></span>
            <span>- No.</span>
            <span ng-bind="m.purchaseId"></span>
            <button type="submit" ng-click="myseat(m.purchaseId)" class="btn btn-success">my seat</button>
            <button type="submit" ng-click="arrange(m.ticketCode,m.purchaseId)" class="btn btn-success">arrange others</button>
        </div>
    </div>
    <div ng-repeat="p in m.attendees">
        <div>
            <span ng-bind="p.name"></span>
            <button type="submit" ng-click="cancel(p.registerMemberId)" class="btn btn-success">cancel</button>
        </div>
    </div>
</div>
<div>
    <button ng-show="hasPermission">
        Share Information
    </button>
</div>