<div class="register-member">
    <div class="title form-group">SHOPPING CART</div>
    <div class="items font-helvetica">
        <div ng-repeat="item in model | orderBy:'order'">
            <div class="rows" ng-show="!isConfirmed || (isConfirmed && item.count > 0)">
                <div class="col-xs-12" style="margin-bottom:10px;">
                    <div style="height:50px;width:50px;background-color:white;display:inline-block;float:left;"></div>
                    <div class="col-xs-8" style="height:50px;display:inline-block;">
                        <div style="position:absolute;bottom:-5px;width:100%;">
                            <div class="name" ng-bind="item.name"></div>
                            <div class="remark" ng-bind="item.remark"></div>
                            <div>
                                <span class="price" ng-bind="'¥ '+item.unitPrice"></span>
                                <span class="available" ng-bind="item.seats==1?'Ticket Left: '+item.remain:item.seats>1?'Tables Left: '+item.remain:''"></span>
                            </div>
                        </div>
                    </div>
                    <input type="text" ng-disabled="isConfirmed" maxlength="2" max="20" ng-style="style"
                           style="max-height:30px;max-width:30px;position:absolute;bottom:0;right:15px;" pattern="[0-9]*" ng-model="item.count" placeholder="0" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 total">
            <span class="label font-penguin">Total:</span>
            <span class="number price" ng-bind="'¥ '+total"></span>
        </div>
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="gift">
                    <span>
                        <input type="submit" ng-show="true||!isConfirmed && hasPermission" ng-click="skip()" value="Gift" />
                    </span>
                </div>
                <input type="submit" ng-show="!isConfirmed" ng-click="confirm()" value="Confirm and Pay" />
                <input type="submit" ng-show="isConfirmed" ng-click="pay()" value="Pay" />
            </div>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
    </div>
</div>