<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <form role="form" novalidate="novalidate">

                <label>Name</label>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Fitst Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <label class="radio-inline">
                    <input type="radio" value="Male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Female">Female
                </label>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="tel" class="form-control">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Wechat ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Your Occupation</label>
                    <input type="text" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> <a>Terms and Conditions</a>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Accept and Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
