<div class="logo-panel">
    <img class="logo-lg" src="../static/image/logo-lg.png" />
</div>
<div class="col-xs-12 orders font-helvetica" ng-repeat="m in model track by $index" my-repeat-directive>
    <div class="panel-group" id="{{'accordion'+$index}}">
        <div class="panel panel-default" style="border-width:2px;">
            <div class="panel-heading">
                <div class="accordion-toggle" data-toggle="collapse" data-parent="#{{'accordion'+$index}}" href="{{'#collapse'+$index}}"
                     ng-click="toggle($event)">
                    <span ng-show="m.orderStatus!=10" class="label font-penguin" style="padding-left:5px;">No:</span><span ng-show="m.orderStatus!=10" ng-bind="m.order_no"></span>
                    <span ng-show="m.orderStatus==10" class="label font-penguin" style="padding-left:5px;">Time Left to Pay:</span><span class="price" ng-show="m.orderStatus==10" ng-bind="countdown"></span>
                    <div class="pull-right">
                        <span ng-show="m.orderStatus!=10" class="price font-penguin" ng-bind="m.orderStatus==10?'Unpaid'
                              :m.orderStatus==15?'Processing Order'
                              :m.orderStatus==20?'Confirmed'
                              :m.orderStatus==30?'Failed'
                              :m.orderStatus==40?'Expired':''">
                        </span>
                        <i class="indicator glyphicon glyphicon-menu-down"></i>
                    </div>
                </div>
            </div>
            <div id="{{'collapse'+$index}}" class="panel-collapse collapse">
                <div class="panel-body" style="border-top-width:2px;">
                    <div ng-repeat="item in m.purchases" style="display:inline-block;margin-bottom:10px;min-width:100%;">
                        <div>
                            <div>
                                <span style="padding-left:0px;" class="col-xs-8" ng-bind="item.name"></span>
                                <span class="col-xs-1" ng-bind="item.quantity"></span>
                                <span class="pull-right" ng-bind="'¥'+item.amount"></span>
                            </div>
                            <div style="padding-left:0px;" class="col-xs-8 remark" ng-bind="item.remark"></div>
                        </div>
                    </div>
                    <div class="pull-right" style="border-top:solid 1px;">
                        <div>
                            <span class="font-penguin" style="padding-right:30px;">Total:</span>
                            <span class="price pull-right" ng-bind="'¥'+m.amount"></span>
                        </div>
                        <div>
                            <input style="height:20px;line-height:20px;padding:0 5px;font-size:small;" type="submit" ng-click="edit(m.id)" ng-show="m.orderStatus==10" value="Confirm and Pay" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3 orders" style="border-top:solid 1px white;margin-bottom:10px;margin-left:15px;"></div>
<div class="font-penguin orders col-xs-12">
    Refund Policy: The deadline for refunds is five days before the event. Please contact our customer support team to assist you with your refund.
</div>
<div ng-show="!hasPermission">
    <div class="col-xs-2"></div>
    <div class="submit col-xs-8">
        <input type="submit" ng-click="invite()"
               value="Manage My Invites" />
    </div>
    <div class="col-xs-2"></div>
</div>
<div ng-show="hasPermission">
    <div class="col-xs-6" style="padding-right:5px;font-size:12px;">
        <input style="padding-left:10px;padding-right:10px;width:100%;" type="submit" ng-click="share()"
               value="Share The Secret" />
    </div>
    <div class="col-xs-6" style="padding-left:5px;font-size:12px;">
        <input style="padding-left:10px;padding-right:10px;width:100%;" type="submit" ng-click="invite()"
               value="Manage My Invites" />
    </div>
</div>