<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <form role="form" novalidate="novalidate">
                <div class="form-group">
                    <center>Welcome</center>
                    <img src="/Static/image/secret.png" style="width:100%;" />
                    <input type="text" required name="code" class="form-control" placeholder="Agent Code" style="text-align: center;">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">开启秘密之旅</button>
                </div>
            </form>
        </div>
    </div>
</div>
