<div class="col-xs-12" style="height:40px;display:block"></div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <form role="form" novalidate="novalidate">
            <div class="form-inline">
                <label>NAME</label>
                <div class="form-group col-xs-4">
                    <input type="text" class="form-control" ng-model="model.firstName" required placeholder="FIRST NAME">
                </div>
                <div class="form-group col-xs-4">
                    <input type="text" class="form-control" ng-model="model.lastName" required placeholder="LAST NAME">
                </div>
            </div>
            <div class="form-group">
                <label>GENDER</label>
                <input type="checkbox" data-on-text="M" data-off-text="F"
                       checked name="gender" ng-checked="model.gender">
            </div>
            <div class="form-group">
                <label>NATIONALITY</label>
                <select class="form-control" required ng-model="model.nationality">
                    <option></option>
                    <option>CN</option>
                    <option>US</option>
                    <option>HK</option>
                    <option>UK</option>
                </select>
            </div>
            <div class="form-group">
                <label>MOBILE</label>
                <input type="tel" maxlength="11" class="form-control" ng-model="model.mobile" required>
            </div>
            <div class="form-group">
                <label>EMAIL</label>
                <input type="email" class="form-control" ng-model="model.email" required>
            </div>
            <div class="form-group">
                <label>WECHAT ID(Optional)</label>
                <input type="text" class="form-control" ng-model="model.wechatID">
            </div>
            <div class="form-group">
                <label>OCCUPTAION(Optional)</label>
                <input type="text" class="form-control" ng-model="model.occupation">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> <a>TERMS AND CONTDITIONS</a>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" ng-click="save()" class="btn btn-success btn-block">SUBMIT AND CHOOSE YOUR EVENT PURCHASE</button>
            </div>
        </form>
    </div>
</div>
