<div class="register-member" ng-show="!showTerms && !fail && !success">
    <div class="title form-group">MY INFORMATION</div>
    <div>
        <form role="form" name="form" novalidate="novalidate">
            <div class="form-group col-xs-12">
                <div>
                    <label style="width:100%">NAME</label>
                </div>
                <input class="col-xs-5" type="text" name="firstName" ng-model="model.firstName" required placeholder="FIRST NAME">
                <input style="margin-left:10px;" class="col-xs-5" type="text" name="lastName" ng-model="model.lastName" required placeholder="LAST NAME">
            </div>
            <div class="col-xs-12 form-group">
                <label>GENDER</label>
                <label class="radio-inline" style="width:initial;">
                    <input type="radio" required name="optionsRadios" ng-model="model.gender" value="Male" checked="checked">MALE
                </label>
                <label class="radio-inline" style="width:initial;">
                    <input type="radio" required name="optionsRadios" ng-model="model.gender" value="Female">FEMALE
                </label>

            </div>
            <div class="col-xs-12 form-group">
                <label>NATIONALITY</label>
                <select class="col-xs-7" ng-model="model.nationality">
                    <option ng-selected="{{m == model.nationality}}" ng-repeat="m in nationalityList track by $index"
                            value="{{m}}">
                        {{m}}
                    </option>
                </select>
            </div>
            <div class="col-xs-12 form-group">
                <label>MOBILE</label>
                <input class="col-xs-7" type="tel" maxlength="11" name="mobile" ng-model="model.mobile" required>
            </div>
            <div class="col-xs-12 form-group">
                <label>EMAIL</label>
                <input class="col-xs-7" type="email" name="email" ng-model="model.email" required>
            </div>
            <div class="col-xs-12 form-group">
                <label>WECHAT ID(OPTIONAL)</label>
                <input class="col-xs-7" type="text" ng-model="model.wechatID">
            </div>
            <div class="col-xs-12 form-group">
                <label>OCCUPATION(OPTIONAL)</label>
                <select class="col-xs-7" ng-model="model.occupation">
                    <option ng-selected="{{m == model.occupation}}" ng-repeat="m in occupationList track by $index"
                            value="{{m}}">
                        {{m}}
                    </option>
                </select>
            </div>
            <div class="form-group col-xs-12 checkbox">
                <label>
                    <input type="checkbox" name="terms" ng-model="agreement" required />
                    <a ng-click="terms()" class="font-color-white" style="text-decoration:underline">TERMS AND CONDITIONS</a>
                </label>
            </div>
            <div class="col-xs-3"></div>
            <div class="form-group col-xs-6 submit">
                <input type="submit" ng-disabled="form.$invalid" ng-click="save()"
                       value="Submit" />
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-12"></div>
        </form>
    </div>
</div>
<div ng-show="success" class="cover-msg" ng-click="ticket()">
    <img src="../static/image/ticket-get-success.png" />
</div>
<div ng-show="fail" class="cover-msg" ng-click="purchase()">
    <img src="../static/image/ticket-get-fail.png" />
</div>
<div ng-show="alreadyHas" class="cover-msg" ng-click="ticket()">
    <img src="../static/image/alreadyHas.png" />
</div>

<div ng-show="showTerms" class="cover-msg">
    <div style="padding-top:50px">
        <div class="title form-group">TERMS AND CONDITIONS</div>
        <div class="col-xs-12">
            <textarea rows="15" readonly class="font-helvetica">
【活动免责声明】

1.本免责声明适用于微信My531704发布的所有户外及户外活动。

2.凡报名户外活动的参加者均视为具有完全民事行为能力人，如在活动中发生人身损害后果，赔偿责任本微信和发起人不承担，由受损害人依据法律规定和本声明依法解决，凡报名者均视为接受本声明。如报名者为未成年人或无民事行为能力人或限制民事行为能力人，则其监护人同意在活动中发生人身损害后果，赔偿责任本网站和发起人不承担，由监护人或受损害人依据法律规定和本声明依法解决，监护人虽没有直接报名仍视为接受本声明。代他人报名者，被代报名参加者如遭受人身损害，赔偿责任发起人或本网站同样不承担。本声明中关于免除发起人或本网站赔偿责任之约定效力，同样及于本次活动的共同发起人及钱物保管人员。本声明是根据最高人民法院于2004年5月1日起颁布施行的《关于审理人身损害赔偿案件适用法律若干问题的解释》而制定。

3.凡报名参加者均视为具有完全民事行为能力的人，如在活动中发生人身损害后果，团队的发起者和同行者不承担赔偿责任，由被损害人依据法律规定和本声明依法解决，凡报名者均视为接受本声明。代他人报名者，被代者如在活动中遭受人身损害，领队同样不承担任何赔偿责任。

4.活动中发起者对邀请人进行组织协调，但活动性质属于自由结合、自愿参加、风险自担、责任自负，参与者均应为完全行为能力人，发起者并不从活动组织中获取任何费用或盈利，亦不构成发起人的经营行为，发起人不对任何个人或机构承担民事赔偿责任或补充民事赔偿责任。发起人对户外活动仅提供信息发布服务，并不担保或提供任何参加人的人身和财产的安全保障。本网站和发起人的组织和发起户外活动之行为，在任何情况下不构成违反对设施设备未尽安全保障义务，不构成违反服务管理未尽安全保障义务，不构成违反防范制止侵权行为未尽安全保障义务，也不构成对未成年人、无民事行为能力人、限制民事行为能力人未尽安全保障义务。

5.为保证户外活动的严肃、高效，尊重户外运动所具有的危险、不可预知性，如果你报名参加了本活动，将自行承担活动的危险和风险。报名参加活动前，必须事先与自己的家属沟通，取得家属的理解和支持，同时知道并同意该免责声明。参加人报名参加活动后视作其家属也已知情并同意，否则后果由参加者自负。

6.活动中，参加者必须事先明确申明自己能否做长时间的派对，饮酒，舞蹈，运动，游玩等活动，让组织者和同行人知道；在身体有疾病或特殊症状的，比如心脏病、哮喘病、恐高症，酒精过敏等。请不要报名参加此活动，隐瞒自己身体疾病，所引发的任何事故由参加者自己负责，发起人和邀请人不负任何责任！

7.活动属于自助参加活动，当由于意外事故，突发气候变化和急性疾病等不可预测因素造成身体损害时，活动的发起者和同行者有义务尽力救助，但如果造成了不可逆转的损害，团队的其他成员不负担任何责任。参与者都应本着风险自担的原则参加这次活动，活动发起者和组织者亦不承担任何法律和经济责任。

8.参加者如需自行购买旅游和意外保险。推荐平安保险(3元保3天最高10万保额)：http://baoxian.taobao.com/item.html?&id=14168790734

9.凡报名参加活动的朋友，均视为同意该声明！如恶意侵犯他人或其它涉及犯罪行为，则不在此免责范围内，必须承担相应的法律责任。

该免责声明目的是为活动发起人组织者和同行者再次明确户外活动的风险，提高自律能力和抗风险能力，免除一些不必要的后果，让活动更安全更快乐


本活动提醒您：
组织或参加任何活动都具有一定的风险性，在组织或参加时请应注意人身安全和财物安全，并对由此产生的后果、责任和义务应有充分的考虑。


凡报名并参加本活动的会员，均视作已仔细阅读过『活动免责声明』,『活动风险承担与权利放弃的协议』并且已经接受了本声明、自愿承担一切相应风险并具有完全民事行为能力的人。
            </textarea>
        </div>
        <div>
            <div class="col-xs-3"></div>
            <div class="form-group col-xs-6 submit">
                <input type="submit" ng-click="showTerms=false;" value="I AGREE" />
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>