::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Penguin Sans 0.500';
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 0px;
    border: solid 1px white;
    font-family: 'Helvetica Light';
}

    input[type=radio] {
        width: 13px;
    }

    input[type=radio] {
        border: solid 1px white;
    }

    input[type=submit] {
        background-color: #d0d0d0;
        width: 100%;
        border: none;
        height: 40px;
        line-height: 40px;
        font-size: larger;
        font-weight: 200;
        color: #333;
        font-family: 'Penguin Sans 0.500';
    }

        input[type=submit].submit-sm {
            height: 26px;
            line-height: 26px;
            font-size: 13px;
            border-radius: 3px;
            width: initial;
            border: solid 1px black;
            background-color: transparent;
            vertical-align: middle;
        }

        input[type=submit].submit-sm-grey {
            height: 26px;
            line-height: 26px;
            width: initial;
            float:right;
        }

label {
    float: left;
    line-height: 25px;
    height: 20px;
    font-family: 'Penguin Sans 0.500';
    color: white;
}

select {
    background: transparent;
    border: solid 1px white;
    width: 100%;
    font-family: 'Penguin Sans 0.500';
    color: white;
    text-align: center;
    height: 24px;
}

    select option {
        background-color: black;
        font-family: 'Penguin Sans 0.500';
    }

textarea {
    width: 100%;
    overflow: scroll;
    background-color: #acadae;
    opacity: 0.75;
    font-weight: 500;
}
/****************************************************/

.bg-img {
    background-image: url('../image/bg.jpg');
}


.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-sm {
    max-width: 100px;
}

.logo-lg {
    max-width: 120px;
}

.logo-panel {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 20px;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Penguin Sans 0.500';
    letter-spacing: 3px;
}

label {
    font-weight: lighter;
}

.welcome {
    background-image: url('../image/welcome.jpg');
}

.error {
    position: absolute;
    top: 75%;
}

.error-msg {
    text-align: center;
    background-color: black;
    opacity: 0.8;
    width: 90%;
    margin: 0 auto;
    font-weight: 200;
    color: white;
}

.welcome input {
    background-color: black;
    font-size: x-large;
    border: none;
    line-height: 40px;
}

    .welcome input::-webkit-input-placeholder {
        color: white;
        font-weight: 300;
    }

.welcome-input {
    position: absolute;
    top: 65%;
    text-align: center;
}

.title {
    width: 80%;
    padding-left: 15px;
    background-color: #d2d2d3;
    line-height: 40px;
    height: 35px;
}

.loading {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.items {
    color: white;
    letter-spacing: 0px;
}

    .items img {
        max-width: 60px;
        max-height: 80px;
    }

    .items .rows {
        margin-bottom: 10px;
        float: left;
    }

        .items .rows > * {
            float: none;
            vertical-align: bottom;
            display: inline-block;
            /* ie6/7 */
            *display: inline;
            zoom: 1;
        }

.price {
    color: #c2a400;
}

.items .available, .remark {
    font-size: 6px;
}

.total {
    margin-top: 10px;
    text-align: right;
}

    .total .label {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .total .number {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;
    }

.orders {
    color: white;
    letter-spacing: initial;
}

    .orders .label {
        font-weight: initial;
        font-size: 14px;
    }

    .orders .panel {
        background-color: transparent;
    }

    .orders .panel-heading {
        background-color: transparent;
        background-image: none;
        color: white;
        padding: 5px 10px;
    }

.invite-header {
    background-color: white;
    color: black;
    height: 30px;
    padding: 2px 10px;
    font-size: initial;
}

.invitee {
    font-size: 20px;
    margin-top: 10px;
}

.font-penguin {
    font-family: 'Penguin Sans 0.500';
}

.font-helvetica {
    font-family: 'Helvetica Light';
}

@font-face {
    font-family: 'Penguin Sans 0.500';
    src: url('../fonts/Penguin Sans 0.500.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica Light.ttf') format('truetype');
}


.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
